# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\LeetCode打卡\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
